@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
body { 
    margin: 0; 
    height: 50vh;
    background-color: rgb(235, 12, 12);
}
  
canvas { 
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: 'Montserrat';
    color: #f2f701;
    font-size: 7em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid rgb(226, 241, 8);
    padding: .2em;
  }
h3{
  position: absolute;
    top: 7em;
    left: 5em;
    font-family: 'Montserrat';
    color: #f2f701;
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 2px solid rgb(226, 241, 8);
    padding: .2em;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button1:hover {
  background-color: #4CAF50;
  color: white;
  }
  
.button2 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button2:hover {
    background-color: #008CBA;
    color: white;
  }
.button3 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button3:hover {
    background-color: #4CAF50;
    color: white;
  }
.button3 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button4:hover {
    background-color: #4CAF50;
    color: white;
  }
.button4 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button5:hover {
    background-color: #4CAF50;
    color: white;
  }
.button5 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button6:hover {
    background-color: #4CAF50;
    color: white;
  }
.button6 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button7:hover {
    background-color: #4CAF50;
    color: white;
  }
.button7 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  
.button8:hover {
    background-color: #4CAF50;
    color: white;
  }
.button8 {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
.button9:hover {
    background-color: #4CAF50;
    color: white;
  }
.button9 {
    background-color: rgb(2, 2, 2); 
    color: rgb(231, 217, 22); 
    border: 2px solid #4CAF50;
  }
.buttonsub:hover {
    background-color: #4CAF50;
    color: white;
  }
.buttonsub {
    background-color: rgb(2, 2, 2); 
    color: rgb(231, 217, 22); 
    border: 2px solid #4CAF50;
  }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.container { 
    height: 100px;
    position: relative;
    
  }
  .buttonfile:hover {
    background-color: #4CAF50;
    color: white;
  }
.buttonfile {
  background-color: rgb(2, 2, 2); 
  color: rgb(231, 217, 22); 
  border: 2px solid #4CAF50;
  }
  .container1 { 
    height: 200px;
    position: relative;
    border: 3px solid rgb(247, 231, 6); 
  }
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    background-color: #555;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  
  

  